* {
  font-family:  Helvetica, Arial, sans-serif;
}

/* web logo */
#logo {
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

@media (max-width:995px) {
  #logo{
    height: 100%;
    width: 100%;
  }
}

@media (max-width:650px) {
  #logo{
    display:none;
  }
}

#logo2 {
  height: 300px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

@media (min-width:651px) {
  #logo2{
    display: none;
  }
}

@media (max-width:650px) {
  #logo2{
    width: 60%;
  }
}

@media (max-width:450px) {
  #logo2{
    width: 70%;
  }
}

@media (max-width:350px) {
  #logo2{
    width: 80%;
  }
}

@media (max-width:290px) {
  #logo2{
    width: 90%;
  }
}


/* nav bar all pages*/
.nav-link {
  position: sticky;
  display: inline;
}

@media (max-width: 770px) {
  #inlinenav {
    display: none;
  }
}

@media (max-width :769px) {
  #togglenav{
    margin: auto;
  }
}

@media (min-width :770px) {
  #navbartoggle{
    display:none;
  }
}

#search {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 400px;
  margin-right: 400px;
}

@media (max-width: 640px) {
  #search {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#43ace8;
    padding-left: 500px;
    padding-right: 500px;
  }
}

@media (min-width: 300px) {
  #search {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    color:#43ace8;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
  }
}

#shopbutton{
  color:#43ace8
}

#signinsignout {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background-image: linear-gradient(
    to right,
    #43ace8,
    #64bc34,
    #ffcd74,
    #e00000
  );
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
}

#signinsignout:focus,
#signinsignout:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #4285f4 !important;
  font-weight: bold;
}



#shoppingcart {
  margin-bottom: 30px;
}

#navbarText {
  justify-content: center;
  padding-bottom: 60px;
}

.mynavlinks {
  color: #43ace8;
  padding-bottom: 20px;
}

#searchbutton{
  color: #43ace8;
  border-color: #43ace8;
}

/*search in nav */
.d-flex {
  padding-left: 20px;
}

/* Home title */
.Hometitle {
  margin-bottom: 60px;
  color: #43ace8;
  font-weight: bold;
}

@media (max-width: 640px) {
  .Hometitle {
    margin: auto;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.title1 {
  margin-top: 70px;
  margin-bottom: 40px;
  color: #43ace8;
  font-size: x-large;
  text-align: center;
}

/* color: #272add; */

@media (max-width: 640px) {
  .title1 {
    margin: auto;
    font-size: 21px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

#title2 {
  text-align: center;
  margin-top: 40px;
  color: #43ace8;
  font-size: x-large;
  font-weight: bold;
}

/* Home paragraphs */
#p1 {
  text-align: center;
  width: 70%;
  line-height: 30px;
  margin: 0px;
  margin: auto;
}

@media (max-width: 640px) {
  #p1 {
    line-height: 200%;
    width: 90%;
  }
}

#p2 {
  width: 70%;
  line-height: 30px;
  margin: 0px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 640px) {
  #p2 {
    line-height: 200%;
    width: 90%;
  }
}

/* Home page picture */
#picmehomepage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: -10px;
}

/* buttons not including form one */
.btn-btn-primary1 {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background: #e00000;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
}

#homeservicesbutton {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background: #e00000;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
}

@media (max-width: 640px) {
  #homeservicesbutton {
    margin-bottom: 60px;
  }
}

#homeservicesbutton:focus,
#homeservicesbutton:hover {
  background-color: transparent;
  color: #4285f4;
  border: 1px solid #4285f4 !important;
  font-weight: bold;
}


@media (max-width: 640px) {
  #letstalkbutton {
    margin-bottom: 0px;
  }
}

.fa-hand-o-down {
  font-size: 48px;
  color: #43ace8;
  padding-top: 25px;
  padding-bottom: 15px;
}

#letstalkbutton {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background: #e00000;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
}


#letstalkbutton:focus,
#letstalkbutton:hover {
  background-color: transparent;
  color: #4285f4;
  border: 1px solid #4285f4 !important;
  font-weight: bold;
}


/*finger pointing down*/

/* Home carousel */

#carouselbenefits1{
  height: 200px;
  width: 300px;
  margin-top: 100px;
  object-fit: cover;
}
@media (max-width: 375px) {
  #carouselbenefits1{
    height: 150px;
    width: 210px;
    margin-top: 75px;
  }
}

@media (max-width: 301px) {
  #carouselbenefits1{
    width: 140px;
    height: 125px;
    margin-top: 50px;
  }
}


@media (max-width: 275px) {
  #carouselbenefits1{
    height: 125px;
    width: 200px;
  }
}

#carouselbenefits2{
  height: 350px;
  width: 300px;
}

@media (max-width: 301px) {
  #carouselbenefits2{
    width: 350px;
  }
}

@media (max-width: 375px) {
  #carouselbenefits2{
    width: 250px;
  }
}

#carouselbenefits3{
  height: 200px;
  width: 400px;
  margin-top: 100px;

}

@media (max-width: 301px) {
  #carouselbenefits3{
    width: 350px;
  }
}

@media (max-width: 375px) {
  #carouselbenefits3{
    width: 250px;
  }
}

#carouselbenefits4{
  height: 400px;
  width: 500px;

}

@media (max-width: 640px) {
  #carouselbenefits4 {
    height: 300px;
    width: 400px;
    margin-top: 0px;
  }
}

@media (max-width: 301px) {
  #carouselbenefits4{
    width: 350px;
  }
}

@media (max-width: 375px) {
  #carouselbenefits4{
    width: 250px;
  }
}

#carouselbenefits5{
  height: 200px;
  width: 300px;
  margin-top: 100px;
}

@media (max-width: 301px) {
  #carouselbenefits5{
    width: 350px;
  }
}

@media (max-width: 375px) {
  #carouselbenefits5{
    width: 250px;
  }
}

#carouseltitle1{
  margin-bottom: 175px;
  color: black;
  font-weight: bold;
  text-align: center;
  float: center;
}

@media (max-width: 275px) {
  #carouseltitle1{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 300px) {
  #carouseltitle1{
    margin-bottom: 0px;
    margin-right: 40px;
    width: 130px;
  }
}

@media (max-width: 375px) {
  #carouseltitle1{
    margin-bottom: 100px;
    margin-right: 40px;
    width: 230px;
  }
}

#carouseltitle2{
  margin-bottom: 260px;
  color: black;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 300px) {
  #carouseltitle2{
    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 375px) {
  #carouseltitle2{
    margin-bottom: 100px;
    margin-right: 40px;
    width: 230px;
    
  }
}

#carouseltitle3,
#carouseltitle5{
  margin-bottom: 175px;
  color: black;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 300px) {
  #carouseltitle3{
    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 375px) {
  #carouseltitle3{
    margin-bottom: 100px;
    margin-right: 40px;
    width: 230px;
    
  }
}


#carouseltitle4{
  margin-bottom: 280px;
  color: black;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 640px) {
  #carouseltitle2,
  #carouseltitle3,
  #carouseltitle5{
    margin-bottom: 200px;
  }
}

@media (max-width: 640px) {
  #carouseltitle2{
    margin-bottom: 250px;
  }
}

@media (max-width: 640px) {
  #carouseltitle4 {
    margin-bottom: 200px;
  }
}

.carousel-indicators{
  display: none;
}

.carousel-control-prev-icon{
  filter: invert(100%);
  margin-right: 40px;
}

@media (max-width: 301px) {
  .carousel-control-prev-icon{
    margin-right: 20px;
    width: 100px;
  }
}

@media (max-width: 375px) {
  .carousel-control-prev-icon{
    margin-right: 20px;
    width: 100px;
  }
}

.carousel-control-next-icon{
  margin-left: 40px;
  filter: invert(100%);
}

@media (max-width: 301px) {
  .carousel-control-next-icon{
    margin-left: 20px;
    width: 100px;
  }
}

@media (max-width: 375px) {
  .carousel-control-next-icon{
    margin-left: 20px;
    width: 100px;
  }
}

#colbenefits{
  height:295px;
}

@media (max-width: 640px) {
  #colbenefits{
    height: 205px;
    margin-bottom: 50px;
  }
}


#form1home{
  margin-top: 60px;
  width: 60%;
  margin: auto;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

@media (max-width: 640px) {
  #form1home{
    margin-top: 50px;
  }
}

#homeformtitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #43ace8;
  font-size: 30px;
}

#submitform {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background: #e00000;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
  margin-top: 40px;
}

#submitform.focus,
#submitform:hover {
  background-color: transparent;
  color: #4285f4;
  border: 1px solid #4285f4 !important;
  font-weight: bold;
}

/* Home Form ^ */

/* ABOUT PAGE */

#aboutmetitle {
  padding-top: 20px;
  padding-bottom: 60px;
  color:#43ace8;
  font-weight: bold;
  margin: auto;
}

#abouth1 {
  margin: auto;
  font-size: small;
  text-align: right;
  line-height: 30px;
}

/* paragraph in about me*/
#aboutp1 {
  width: 600px;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

@media (max-width: 720px) {
  #aboutp1{
    width: 500px;
  }
}

@media (max-width: 535px) {
  #aboutp1{
    width: 400px;
  }
}

@media (max-width:440px) {
  #aboutp1{
    width: 300px;
  }
}

@media (max-width:330px) {
  #aboutp1{
    width: 200px;
  }
}
/* Aboutmepic*/

#picaboutme {
  width: 300px;
  height: 280px;
  border-radius: 200px;
}

/* Paragraph above IMG'S*/
#title3 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color:#43ace8;
  font-weight: bold;
}

/* ABOUT IMG'S*/
#clt {
  height: 200px;
  width: 200px;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#bachelors {
  height: 200px;
  width: 200px;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ndtr {
  height: 200px;
  width: 200px;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* blog */
#blogmaintitle {
  color:#43ace8;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 20px;
}

#blogtitle {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 40px;
}

#blogtitle2 {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 80px;
}

#blogtitle3 {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 60px;
}

#blogtitle4 {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 80px;
}

#timeblog {
  color: red;
}

#blogbuttons {
  margin: 30px auto;
  padding: 11px 53px;
  background: #43ace8;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
  width: 215px;
}

/* services */

#ex1{
 display: flex;
 overflow: hidden;
 position: relative;
 flex-grow: 1;
}

#ex2{
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
 }

.card-pricing .list-unstyled-mb-4 {
  padding: 0.5 rem 0;
  color: #6c757d;
}

#serviceunderline {
  color: #000000;
  font-weight: bold;
  padding-bottom: 20px;
}

.cardheight{
  height:20%;
  width: 80%;
  margin: auto;
  
}

@media (max-width: 992px) {
  .cardheight{
    height:20%;
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .cardheight{
    height:20%;
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .cardheight{
    height: 20%;
    width: 300px;
    margin:auto;
  }
}

@media (max-width: 500px) {
  .cardheight{
    margin-left: 50px;
  }
}

@media (max-width: 400px) {
  .cardheight{
    margin: auto;
    margin-left: 30px;
  }
}

@media (max-width: 300px) {
  .cardheight{
    height: 20%;
    width: 200px;
    margin: auto;
    margin-left: 30px;
  }
}


.fa-check-circle {
  color: #64bc34;
  margin-right: 10px;
  font-size: 1.3em;
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  box-sizing: border-box;
}


#servicestitle {
  margin-bottom: 40px;
  color:#43ace8;
  font-weight: bold;
}

#or {
  padding-bottom: 9px;
  padding-top: 9px;
  color: #e00000;
  font-weight: bold;
}

#serviceprice {
  color: #e00000;
}

/*social media buttons*/

a.btn-social,
.btn-social {
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 54px;
}

.btn-social .fa,
.btn-social i {
  backface-visibility: hidden;
  transform: scale(1);
  transition: all 0.25s;
}
.btn-social:hover,
.btn-social:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}
.btn-social:hover .fa,
.btn-social:focus .fa,
.btn-social:hover i,
.btn-social:focus i {
  transform: scale(1.3);
}

.btn-social.btn-lg {
  font-size: 22px;
  height: 72px;
  line-height: 40px;
  margin: 10px 6px;
  width: 72px;
}

/*.col-md-12{
      float: center;
  }*/

.rowbuttons {
  margin-top: 50px;
}

@media (max-width: 640) {
  .rowbuttons {
    margin: none;
  }
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #4c70ba;
}

.btn-instagram {
  background-color: #3f729b;
}
.btn-instagram:hover {
  background-color: #548cb9;
}

.btn-twitter {
  background-color: #55acee;
}
.btn-twitter:hover {
  background-color: #83c3f3;
}

.btn-youtube {
  background-color: #e52d27;
}
.btn-youtube:hover {
  background-color: #ea5955;
}

.btn-linkedin {
  background-color: #0976b4;
}
.btn-linkedin:hover {
  background-color: #0b96e5;
}

/*footer* all pages*/

#content-wrap {
  position: sticky;
  color: #43ace8;
  float: center;
  margin-top: 20px;
  font-weight: bold;
}

/* paymentconfirm */

#paymentconfirmtitle{
  margin-top: 200px;
}

#paymentconfirmnumber{
  margin-bottom: 200px;
  margin-top: 30px;
}

/* Donate */

#Donatebutton {
  margin: 30px auto;
  display: block;
  padding: 11px 53px;
  background: #e00000;
  color: #ffffff;
  float: auto;
  font-weight: bold;
  border-radius: 100px;
  border: 50px;
  margin-top: 40px;
}

#Donatebutton:focus,
#Donatebutton:hover {
  background-color: transparent;
  color: #4285f4;
  border: 1px solid #4285f4 !important;
  font-weight: bold;
}

#donatebuttonname{
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#donateform{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}